<div *ngIf="submitted else codeForm" class="container">
  <div *ngIf="isOkay else activationError" class="activate-message">
    <h2>{{ 'login-and-register.activate-successfully-title' | translate }}</h2>
    <p>{{ message | translate }}</p>
    <button class="btn btn-primary" (click)="goToLogin()">{{ 'login-and-register.sign-in' | translate }}</button>
  </div>
  <ng-template #activationError>
    <div class="activate-error">
      <h2>{{ 'login-and-register.activate-bad-title' | translate }}</h2>
      <p>{{ message | translate }}</p>
      <button class="btn btn-primary" (click)="submitted = false">{{ 'login-and-register.try-again' | translate }}</button>
    </div>
  </ng-template>
</div>

<ng-template #codeForm>
  <div class="container">
    <div class="text-center" style="width: 400px;">
      <h2>{{ 'login-and-register.type-activation-code' | translate }}</h2>
      <code-input
        [isCodeHidden]="false"
        [codeLength]="6"
        [code]="'number'"
        (codeCompleted)="onCodeCompleted($event)">

      </code-input>
    </div>
  </div>
</ng-template>
