.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.activate-message {
  text-align: center;
  color: green;
}

.activate-error {
  text-align: center;
  color: red;
}
