<div class="d-flex flex-column min-vh-100">
  <div class="m-lg-4 flex-grow-1">
    <div class="container">
      <h1 class="display-3">
        <img src="https://i.imgur.com/foH99ZV.png" style="width: 150px; height: 150px" alt="logo" />
        AgroNOW
      </h1>
      <p>AgroNOW este soluția digitală dedicată modernizării piețelor agroalimentare prin automatizarea și eficientizarea activităților comerciale. Platforma noastră conectează producătorii locali cu consumatorii printr-o interfață intuitivă și accesibilă. Cu AgroNOW, tradiția întâlnește inovația în timp real.</p>
      <p><a class="btn btn-primary btn-lg" role="button" (click)="goToRegister()">Register NOW &raquo;</a></p>
    </div>

    <div class="container" style="padding-top: 2rem">
      <div class="row">
        <div class="col-md-4">
          <h2>🔗 Conectăm producătorii cu tehnologia</h2>
          <p>Transformăm piețele agroalimentare prin digitalizare, facilitând vânzarea și gestionarea produselor. </p>
        </div>
        <div class="col-md-4">
          <h2>📊 Eficiență în timp real</h2>
          <p>Monitorizare, gestiune și raportare automată pentru o administrare inteligentă a activităților zilnice.  </p>
        </div>
        <div class="col-md-4">
          <h2>🌱 Tradiție și inovație</h2>
          <p>Respectăm valorile locale, integrând soluții moderne adaptate nevoilor producătorilor și consumatorilor. </p>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-body-tertiary text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      Nițu Robert-Ionuț © SCSS 2025
    </div>
  </footer>
</div>
