<div class="d-flex flex-column min-vh-100">
  <div class="m-lg-4 flex-grow-1">
    <div class="container">
      <h1 class="display-3">
        <img src="https://i.imgur.com/foH99ZV.png" style="width: 150px; height: 150px" alt="logo" />
        AgroNOW
      </h1>
      <p>{{ 'home-page.first-paragraph' | translate }}</p>
      <p><a class="btn btn-primary btn-lg" role="button" (click)="goToRegister()">{{ 'login-and-register.register-now' | translate }} &raquo;</a></p>
    </div>

    <div class="container" style="padding-top: 2rem">
      <div class="row">
        <div class="col-md-4">
          <h2>{{ 'home-page.header-1' | translate }}</h2>
          <p>{{ 'home-page.header-1-description' | translate }}</p>
        </div>
        <div class="col-md-4">
          <h2>{{ 'home-page.header-2' | translate }}</h2>
          <p>{{ 'home-page.header-2-description' | translate }}</p>
        </div>
        <div class="col-md-4">
          <h2>{{ 'home-page.header-3' | translate }}</h2>
          <p>{{ 'home-page.header-3-description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-body-tertiary text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      Nițu Robert-Ionuț © SCSS 2025
    </div>
  </footer>
</div>
