<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">AgroNOW</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="gotoHome()">{{ 'navigation-bar.home' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ 'navigation-bar.shops' | translate }}</a>
        </li>
      </ul>
      <span class="navbar-text">
       <button class="btn btn-outline-info m-2" (click)="changeLanguage()">{{ 'navigation-bar.change-language' | translate }}</button>
       <button *ngIf="!isLogged" class="btn btn-outline-success" (click)="goToLogin()">Login</button>
       <button *ngIf="isLogged" class="btn btn-outline-secondary" (click)="goToProfile()">Profil</button>
       <button *ngIf="isLogged" class="btn btn-outline-danger m-2" (click)="logOut()">Log Out</button>
      </span>
    </div>
  </div>
</nav>
