<div class="container">
    <div *ngIf="this.tokenService.isAlreadyLoggedIn() else needToLoginFirst" class="mb-lg-3">
      <div *ngIf="profileData" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ this.profileData.firstName }} {{ this.profileData.lastName }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">ID: {{ this.profileData.id }}</h6>
          <p class="card-text">Email: {{ this.profileData.email }}</p>
          <p class="card-text">Activated: {{ this.profileData.enabled }}</p>
        </div>
      </div>
    </div>

    <ng-template #needToLoginFirst>
      <h2>{{ 'profile.need-to-login-first' | translate }}</h2>
    </ng-template>
</div>
