@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.login-container {
  width: 500px !important;
  margin-top: 5%;
}

body {
  background: linear-gradient(to bottom right, #f8f9fa, #eaeaea);
  margin: 0;
  color: #212529;
}
