<div class="container-fluid card login-container">
  <h3 class="text-center m-lg-2">Login</h3>
  <hr>
  <div *ngIf="errorMessages.length > 0" class="alert alert-danger" role="alert">
    <p *ngFor="let message of errorMessages">{{ message }}</p>
  </div>
  <div class="mb-3">
    <label for="login" class="form-label">Email</label>
    <input [(ngModel)]="authRequest.email" type="email" class="form-control" id="login" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">{{ 'login-and-register.password' | translate }}</label>
    <input [(ngModel)]="authRequest.password" type="password" class="form-control" id="password"
           placeholder="{{ 'login-and-register.password' | translate }}">
  </div>
  <div class="d-flex justify-content-between mg-3 m-lg-3">
    <button *ngIf="!this.tokenService.isAlreadyLoggedIn()" (click)="login()" type="button" class="btn btn-primary">
      <em class="fas fa-sign-in-alt">&nbsp; {{ 'login-and-register.sign-in' | translate }}</em>
    </button>
    <div>
      {{ 'login-and-register.dont-have-account' | translate }}&nbsp;
      <button (click)="register()" type="button" class="btn btn-link">
        {{ 'login-and-register.register' | translate }}
      </button>
    </div>
  </div>
</div>
