<div class="container">
  <div class="card">
    <div class="card-body">
      Piața Obor
    </div>
  </div>

  <div class="m-lg-4">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Taraba #1</h5>
            <p class="card-text">„Roșii de grădină, coapte natural — gust ca la mama acasă!”</p>
            <a class="btn btn-primary">COMANDĂ</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Taraba #2</h5>
            <p class="card-text">„Ouă proaspete de la găini crescute liber – direct de la fermă!”</p>
            <a class="btn btn-primary">COMANDĂ</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Taraba #3</h5>
            <p class="card-text">„Căpșuni dulci și parfumate – culese azi-dimineață!”</p>
            <a class="btn btn-primary">COMANDĂ</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Taraba #4</h5>
            <p class="card-text">„Cartofi românești, numai buni pentru prăjit sau copt!”</p>
            <a class="btn btn-primary">COMANDĂ</a>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Taraba #5</h5>
            <p class="card-text">„Brânză de casă, făcută ca pe vremuri – cremoasă și gustoasă!”</p>
            <a class="btn btn-primary">COMANDĂ</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Taraba #6</h5>
            <p class="card-text">„Miere naturală, 100% românească – dulce și sănătoasă!”</p>
            <a class="btn btn-primary">COMANDĂ</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Taraba #7</h5>
            <p class="card-text">„Ceapă și usturoi de grădină – aroma autentică de acasă!”</p>
            <a class="btn btn-primary">COMANDĂ</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Taraba #8</h5>
            <p class="card-text">„Mere din livadă, fără ceară, fără chimicale – doar natură pură!”</p>
            <a class="btn btn-primary">COMANDĂ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
